# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Secret keys API and etc
.env

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# Environments
venv/

# VSCode
.vscode/

# Databases
instance/
*.db

# Others
*.log
*.swp
*~
.DS_Store
